
@{
    ViewBag.Title = "AdminIndex";
}



<div class="MyJumbotron jumbotron">
    <h2>Coll stuff to mess with as a admin huh?</h2>
    <div class="row WithPadding">@Html.ActionLink("Create new Package Type", "NewPackageType", "Admin", null, new {@class = "btn btn-default"})</div>
    <div class="row WithPadding">@Html.ActionLink("Create new Package", "NewPackage", "Admin", null, new {@class = "btn btn-default"})</div>
    <div class="row WithPadding">@Html.ActionLink("Create new component", "NewComponent", "Admin", null, new {@class = "btn btn-default"})</div>
    <div class="row WithPadding">@Html.ActionLink("Create new component Type", "NewComponentType", "Admin", null, new {@class = "btn btn-default"})</div>
</div>





