@using DemoApp.Domain
@model DemoApp.Domain.ComponentType

@{
    ViewBag.Title = "NewComponentType";
}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Choose One</div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    @foreach (var item in (List<Package>)ViewBag.items)
                    {

                        <li>
                            @Ajax.ActionLink(item.Name, "GetComponent", "Admin", new { id = item.Id },
                                new AjaxOptions
                                {
                                    UpdateTargetId = "ShowComponents",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "Get",
                                    LoadingElementId = "imgloader",
                                    OnSuccess = "fnSuccess",
                                }, new { @class = "btn btn-lg" })
                        </li>
                    }
                </ul>           
            </div>
        </div>   
    </div>
    <div class="col-md-4" id="ShowComponents">
        
    </div>
    <div class="col-md-4" id="ShowForm">

    </div>
</div>

<div class="row">
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Admin Home", "AdminIndex", "Admin")</li>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
    </ul>

</div>



