<footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p> Theme Made By <a href="http://www.alexguitz.com" title="Visit my demo page ">www.alexguitz.com</a></p>
</footer>
