@model List<DemoApp.Domain.Component>
   

<div class="panel panel-primary">
    <div class="panel-heading">Choose One @ViewBag.text</div>
    <div class="panel-body">
        @if (Model != null)
        {
            <ul class="nav nav-pills nav-stacked">
                @foreach (var item in Model)
                {
                <li>
                    @Ajax.ActionLink(item.Name, "ShowFormPartialViewResult", "Admin", new { id = item.Id },
                new AjaxOptions
                {
                    UpdateTargetId = "ShowForm",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Get",
                    LoadingElementId = "imgloader",
                    OnSuccess = "fnSuccess",
                }, new { @class = "btn btn-lg" })
                </li>
                }
            </ul>
        }
    </div>
</div>
