@model IList<DemoApp.Domain.Component>


    

<div class="row">
    @foreach (var item in Model)
    {
        
        <div class="col-sm-4">
            
            <h2>@item.Name</h2>
            @foreach (var type in item.ComponentTypes)
            {
                <p>@type.Name - Kr. @type.Price  </p>
            }
        </div>
    }
</div>


