
@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm("Login", "Account",
                new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="container">
        <div class="jumbotron">
            <h1>Login</h1>
            <div>
                @Html.TextBox("Username")
            </div>
            <br/>
            <div>
                @Html.Password("Password")
            </div>
            <br />
            <div>
                <input type="submit" value="Log in" class="btn btn-default" />
            </div>
        </div>

    </div>

}

